.vscode
.devcontainer
certs/certs.d
certs/home-certs-configmap.yml
secrets/*.yml

registry/certs.d

#dns
dns/conf.d/Corefile
dns/conf.d/*hosts
dns/dns-conf-configmap.yml

# mysql
mysql/initdb.d
mysql/my.cnf
mysql/mysql-conf-configmap.yml
